<section id="about" class="about">
  <img class="about__figure" src="img/figure.svg" alt="figure" aria-hidden="true">
  <div class="container about__container grid">
    <div class="about__left">
      <h2 class="title about__title title--white">Пара слов о нас</h2>
      <p class="descr about__descr descr--white">Спорт держит нас в форме. Учит дисциплине. Объединяет нас. Через спорт мы можем менять жизни. В том числе с помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и двигаться вперед. </p>
      <span class="about__cite">SneakMax</span>
    </div>
    <div class="about__right">
      <div class="about__image" style="background-image: url('img/about-img.jpg');"></div>
    </div>
  </div>
</section>
