<section id="contacts" class="contacts">
  <div class="container contacts__container grid">
    <div class="contacts__left">
      <h2 class="title contacts__title">Контакты</h2>
      <div class="contacts__item">
        <h3 class="contacts__subtitle">
          Главный офис
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="id1">?</button>
            <span class="tooltip__txt" role="tooltip" id="id1">
              <span class="visually-hidden">Тултип: </span>
              Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара
              просьба задавать в отдел продаж
            </span>
          </span>
        </h3>
        <a href="#" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</span>
      </div>
      <address class="contacts__item">
        <h3 class="contacts__subtitle">Отдел продаж</h3>
        <a href="#" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</span>
      </address>
      <ul class="list-reset contacts__socials">
        <li class="contacts__item">
          <a href="#" class="contacts__link contacts__link--vk"></a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link contacts__link--inst"></a>
        </li>
      </ul>
    </div>
    <div class="contacts__right">
      <div id="map" class="contacts__map">

      </div>
    </div>
  </div>
</section>
