<header class="header">
  <div class="container header__container grid">
    <div class="header__left">
      <a class="logo header__logo">
        SneakMax
      </a>
    </div>
    <div class="header__right">
      <nav class="nav header__nav" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#cataloge" data-scroll data-menu-item class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#about" data-scroll data-menu-item class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#quiz" data-scroll data-menu-item class="nav__link">Подбор товара</a></li>
          <li class="nav__item"><a href="#team" data-scroll data-menu-item class="nav__link">Наша команда</a></li>
          <li class="nav__item"><a href="#faq" data-scroll data-menu-item class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#contacts" data-scroll data-menu-item class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="cart header__cart">
        <button class="btn-reset cart__btn cart__btn--inactive">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count">0</div>
        </button>
        <div class="mini-cart">
          <div class="mini-cart__top" data-simplebar>
            <ul class="mini-cart__list list-reset">
              <!-- <li class="mini-cart__item">
                <article class="mini-cart__product mini-product">
                  <div class="mini-product__image">
                    <picture>
                      <source srcset="img/product-image.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image.jpg" class="image" width="100" height="100" alt="product">
                    </picture>
                  </div>
                  <div class="mini-product__content">
                    <div class="mini-product__text">
                      <h3 class="mini-product__title">Женские кроссовки Puma Force 1 Shadow</h3>
                      <span class="mini-product__price">8 678 p</span>
                    </div>
                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">
                      <svg>
                        <use xlink:href="img/sprite.svg#delete"></use>
                      </svg>
                    </button>
                  </div>
                </article>
              </li>
              <li class="mini-cart__item">
                <article class="mini-cart__product mini-product">
                  <div class="mini-product__image">
                    <picture>
                      <source srcset="img/product-image.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image.jpg" class="image" width="100" height="100" alt="product">
                    </picture>
                  </div>
                  <div class="mini-product__content">
                    <div class="mini-product__text">
                      <h3 class="mini-product__title">Женские кроссовки Puma Force 1 Shadow</h3>
                      <span class="mini-product__price">8 678 p</span>
                    </div>
                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">
                      <svg>
                        <use xlink:href="img/sprite.svg#delete"></use>
                      </svg>
                    </button>
                  </div>
                </article>
              </li>
              <li class="mini-cart__item">
                <article class="mini-cart__product mini-product">
                  <div class="mini-product__image">
                    <picture>
                      <source srcset="img/product-image.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image.jpg" class="image" width="100" height="100" alt="product">
                    </picture>
                  </div>
                  <div class="mini-product__content">
                    <div class="mini-product__text">
                      <h3 class="mini-product__title">Женские кроссовки Puma Force 1 Shadow</h3>
                      <span class="mini-product__price">8 678 p</span>
                    </div>
                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">
                      <svg>
                        <use xlink:href="img/sprite.svg#delete"></use>
                      </svg>
                    </button>
                  </div>
                </article>
              </li> -->
            </ul>
          </div>
          <div class="mini-cart__bottom">
            <div class="mini-cart__itog">
              <span class="mini-cart__txt">Итого:</span>
              <span class="mini-cart__summ">0 p</span>
            </div>
            <button class="btn-reset btn btn--accent mini-cart__btn" data-graph-path="cart-modal">Перейти в корзину</button>
          </div>
        </div>
      </div>

      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>

    </div>
  </div>
</header>
