<section class="insta">
  <div class="container insta__container grid">
    <div class="insta__form">
      <h2 class="title title--white insta__title">Есть вопросы?</h2>
      <p class="descr descr--white insta__descr">Заполните форму и наш менеджер свяжется с вами</p>
      <form action="#" class="form form-1">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset input-name form__input" placeholder="Ваше имя">
        </label>
        <label class="form__label">
          <input type="tel" name="Телефон" class="input-reset input-tel form__input" placeholder="Номер телефона">
        </label>
        <button class="btn-reset btn btn--accent form__btn">Отправить</button>
      </form>
    </div>
    <div class="insta__images">
      <a href="#" class="insta__lin">
        <picture>
          <source srcset="img/instagram.webp" type="image/webp">
          <img loading="lazy" src="img/instagram.png" class="image" width="157" height="56" alt="instagram">
        </picture>
      </a>
      <ul class="list-reset insta__grid">
        <li class="insta__item">
          <a href="#" class="insta__link">
            <picture>
              <source srcset="img/inst1.webp" type="image/webp">
              <img loading="lazy" src="img/inst1.jpg" class="image" width="157" height="161" alt="inst">
            </picture>
          </a>
        </li>
        <li class="insta__item insta__item--big">
          <a href="#" class="insta__link">
            <picture>
              <source srcset="img/inst2.webp" type="image/webp">
              <img loading="lazy" src="img/inst2.jpg" class="image" width="330" height="337" alt="inst">
            </picture>
          </a>
        </li>
        <li class="insta__item">
          <a href="#" class="insta__link">
            <picture>
              <source srcset="img/inst3.webp" type="image/webp">
              <img loading="lazy" src="img/inst3.jpg" class="image" width="157" height="161" alt="inst">
            </picture>
          </a>
        </li>
        <li class="insta__item">
          <a href="#" class="insta__link">
            <picture>
              <source srcset="img/inst4.webp" type="image/webp">
              <img loading="lazy" src="img/inst4.jpg" class="image" width="157" height="161" alt="inst">
            </picture>
          </a>
        </li>
        <li class="insta__item">
          <a href="#" class="insta__link">
            <picture>
              <source srcset="img/inst5.webp" type="image/webp">
              <img loading="lazy" src="img/inst5.jpg" class="image" width="157" height="161" alt="inst">
            </picture>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
