<section id="team" class="team">
  <img src="img/team-bg.svg"  class="team__figure">
  <div class="container">
    <h2 class="title title--white team__title">Наша команда</h2>
    <ul class="list-reset team__list grid">
      <li class="team__item">
        <picture>
          <source srcset="img/team1.webp" type="image/webp">
          <img loading="lazy" src="img/team1.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Максим Золотарев</h3>
        <p class="team__job">Администратор</p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team2.webp" type="image/webp">
          <img loading="lazy" src="img/team2.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Мария Кошкина</h3>
        <p class="team__job">Консультант</p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team3.webp" type="image/webp">
          <img loading="lazy" src="img/team3.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Светлана Киренева</h3>
        <p class="team__job">Менеджер</p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team4.webp" type="image/webp">
          <img loading="lazy" src="img/team4.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Игорь Лопухов</h3>
        <p class="team__job">Администратор</p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team5.webp" type="image/webp">
          <img loading="lazy" src="img/team5.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Никита Трубинев</h3>
        <p class="team__job">Менеджер</p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team6.webp" type="image/webp">
          <img loading="lazy" src="img/team6.jpg" class="image" width="380" height="400" alt="team">
        </picture>
        <h3 class="team__subtitle">Юлия Немцова</h3>
        <p class="team__job">Управляющий</p>
      </li>
    </ul>
  </div>
</section>
